@media (max-width: 1399) { 
  
    .banner-section .banner-content h1 {
   
        font-size: 38px !important;

}
 }
 @media (max-width: 1199px) { 

    .banner-content h1 {
    
         font-size: 38px !important;
 
 }
 .heading h1 {
    font-size: 28px;
}
.who-we-are-section .introduce p {

    font-size: 10px;

 }

 .attorneys-section .heading h1 {
 
    font-size: 28px;
  
    margin-bottom: 8px;
 }
 .The-languages-section .Languages a {

    font-size: 12px;
 }
 .The-languages-section .Languages p {

    font-size: 11px;
 }
 .The-languages-section .Languages h1 {
    font-size: 18px;
 }
 .Contact-section .btn-custom {

    padding: 8px 44px;
 
    font-size: 12px;

 }
}
    @media (max-width: 991px){

        .banner-content h1 {
            font-size: 32px !important;
        }
        .heading h1 {
            font-size: 20px;
        }
        .who-we-are-section .introduce p {
            font-size: 8px;
        }
        .heading span {
            width: 40px;
            height: 3px;
            margin-bottom: 3px;
        }
        .attorneys-section .heading h1 {
            font-size: 20px;
        }
        .attorneys-section .heading a {
      
            font-size: 10px
        }
        .attorneys-section .heading p {
         
            font-size: 10px;
            margin-bottom: 15px;
        }
        .The-languages-section .Languages h1 {
            font-size: 15px;
       
            letter-spacing: 2px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .The-languages-section .Languages p {
      
            font-size: 10px;
            line-height: 15px;
            margin-bottom: 10px;
        }
        .The-languages-section .Languages a {
            font-size: 10px;
        }
}
@media (max-width: 767px) { 
    .banner-content h1 {
        font-size: 25px !important;
    }
    .heading h1 {
        font-size: 14px;
    }
    .who-we-are-section .introduce p {
        font-size: 5px;
    }
    .who-we-are-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .heading h1 {
        font-size: 10px;
    }
    .what-we-do-section .what-we-do a {

        bottom: 20px;
  
        font-size: 10px;
        left: 50%;
 }
 .what-we-do-section .what-we-do h4 {

    font-size: 11px;
  
}
.what-we-do-section {
    background-color: #f7f8f8;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.attorneys-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.attorneys-section .heading {
    padding-top:0; 
}
.The-languages-section .Languages h1 {
    font-size: 12px;
    letter-spacing: 2px;
    padding-top: 20px;
    padding-bottom: 7px;
}
.The-languages-section .Languages p {
    font-size: 6px;
}
.The-languages-section .Languages a {
    font-size: 7px;
    margin-bottom: 20px;
}
.Contact-section {
    background-color: #28377e;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-section p {
    color: #616ca8;
    margin-top: 5px;
    font-size: 10px;
}
.Languages {
    margin-left: 30px;
}
.Contact-section .btn-custom {
    padding: 6px 34px;
    font-size: 10px;
}
.form-control {
    display: block;
    width: 80%;
    height: calc(20px + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 10px;
}
.attorneys-section .heading {
    padding-top: 0;
    align-items: center;
    text-align: center;
}

.attorneys-section .heading span {
    width: 30px;
    height: 3px;
    margin-bottom: 3px;
    margin: 0 auto;
}
.attorneys-section .heading h1 {
    font-size: 15px;
}
.attorneys-section .heading p {
    font-size: 8px;
}
.attorneys-section .heading a {
    font-size: 6px;
}
.Contact-section .heading h1 {
    font-size: 10px;
    margin-bottom: 22px;
}
.footer-section .social-content li a {
    width: 30px;
    height: 35px;
    display: block;
    color: #b1b7dd;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
}
.footer-section {

    padding-top: 20px;
    padding-bottom: 20px;
}
}

 @media (max-width: 575px) { 
    .footer-section {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer-section p {
        color: #616ca8;
        margin-top: 20px;
        font-size: 5px;
    }
    .footer-section .social-content li a {
        width: 20px;
        height: 25px;
        display: block;
        color: #b1b7dd;
        font-size: 6px;
        text-decoration: none;
        text-align: center;
        line-height: 38px;
    }
    .Contact-section .btn-custom {
        padding: 3px 15px;
        font-size: 7px;
    }
    .Contact-section .heading h1 {
        font-size: 6px;
        margin-bottom: 15px;
    }
    .Contact-section .heading  span {
        width: 20px;
        height: 1px;
    }
    .Contact-section  .form-control {
        display: block;
        width: 80%;
        height: calc(20px + 2px);
        padding: -2.625rem -4.25rem;
        font-size: 6px;
        align-items: center;
        /* text-align: center; */
        margin: 0 auto;
    }
    .Contact-section {
  
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .introduce {
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
        justify-content: center;
    }
    .who-we-are-section .introduce p {
        font-size: 5px;
        text-align: center;
        padding-bottom: 20px;
    }
    .who-we-are-section  .heading span {
        width: 25px;
        height: 1px;
        margin-bottom: 3px;
        margin: 0 auto;
    }
    img {
        vertical-align: middle;
        border-style: none;
        width: 50%;
    }
    .pl-5, .px-5 {
        padding-left: 10rem !important;
    }
}